---

- name: INCLUDE_VARS | Devuan
  include_vars: devuan.yml
  when: ansible_distribution == 'Devuan GNU/Linux'

- name: INCLUDE_VARS | Debian
  include_vars: debian.yml
  when: ansible_distribution == 'Debian'

- name: INCLUDE_VARS | Related to OS version
  include_vars: "{{ ansible_distribution_release }}.yml"

- name: INCLUDE | Prepare system
  include: prepare.yml

- name: INCLUDE | Set hostname
  include: hostname.yml
  when: dbs_set_hostname and not dbs_is_docker

- name: INCLUDE | Manage system users
  include: user.yml

- name: INCLUDE | Configure APT
  include: apt.yml

- name: INCLUDE | Kick systemd
  include: nosystemd.yml
  when: >
    ansible_distribution == 'Debian' and
    ansible_distribution_major_version | version_compare(7, 'gt') and
    not dbs_use_systemd and
    not dbs_is_docker and 
    not ansible_distribution == 'Devuan GNU/Linux'

- name: INCLUDE | Set timezone
  include: timezone.yml
  when: dbs_set_timezone

- name: INCLUDE | Manage locales
  include: locale.yml
  when: dbs_set_locale

- name: INCLUDE | Install NTP damon
  include: ntp.yml
  when: dbs_set_ntp

- name: INCLUDE | Misc system configuration
  include: system.yml
