---

- name: INCLUDE_VARS | Related to Debian version
  include_vars: "{{ ansible_distribution_release }}.yml"

- include: hostname.yml

- include: user.yml

- include: apt.yml

- include: nosystemd.yml
  when: (ansible_distribution_major_version | version_compare(7, 'gt')) and (not dbs_use_systemd)

- include: timezone.yml

- include: locale.yml

- include: services.yml

- include: system.yml
