---

- block:

  - name: COMMAND | Get Devuan release
    command: cat /etc/devuan_version
    register: osr
    changed_when: false

  - name: SET_FACT | Fix Devuan fact
    set_fact:
      ansible_distribution: "Devuan"
      ansible_distribution_release: "{{ osr.stdout }}"

  when: ansible_distribution is match ('^[dD]evuan')

- name: SET_FACT | Fix Kali fact
  set_fact:
    ansible_distribution: "Kali"
  when: ansible_distribution is match ('^[Kk]ali')

- name: INCLUDE_VARS | OS
  include_vars: "{{ ansible_distribution }}/main.yml"

- name: INCLUDE_VARS | Related to OS version
  include_vars: "{{ ansible_distribution }}/{{ ansible_distribution_release }}.yml"

- name: INCLUDE | Prepare system
  include: prepare.yml

- name: INCLUDE | Set hostname
  include: hostname.yml
  when: dbs_set_hostname and not dbs_is_docker

- name: INCLUDE | Manage system users
  include: user.yml

- name: INCLUDE | Configure APT
  include: apt.yml

- name: INCLUDE | Kick systemd
  include: nosystemd.yml
  when: >
    ansible_distribution == 'Debian' and
    not dbs_use_systemd and
    not dbs_is_docker

- name: INCLUDE | Set timezone
  include: timezone.yml
  when: dbs_set_timezone

- name: INCLUDE | Manage locales
  include: locale.yml
  when: dbs_set_locale

- name: INCLUDE | Install NTP damon
  include: ntp.yml
  when: dbs_set_ntp

- name: INCLUDE | Misc system configuration
  include: system.yml
